modules = ["nodejs-20", "web", "nix"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[workflows]
runButton = "Dev Mobile"

[[workflows.workflow]]
name = "Dev Mobile"
author = 42201938
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Build for Mobile"
author = 42201938
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run build:mobile"
